* {
    margin: auto 0;
    padding: 0;
    box-sizing: border-box;
}

.linea_superior_purpura {
    height:5px;
    background-color: $purpura;
    width: 100%;
}

.linea_inferior_purpura {
    height:5px;
    background-color: $purpura;
    width: 100%;
}

