@import "general";
@import "diurno/variables";
@import "diurno/mixins";
@import "diurno/navbar";
@import "diurno/footer";
@import "diurno/modal";
@import "diurno/buscador";
@import "diurno/trending";
@import "diurno/favoritos";
@import "diurno/gifos";
@import "diurno/crear";


@import "nocturno/navbar";
@import "nocturno/footer";
@import "nocturno/buscador";
@import "nocturno/favoritos";
@import "nocturno/gifos";
@import "nocturno/crear";
@import "nocturno/modal";



