
.trending {
    margin: 79px 0 0 0;
    background-color: $gris-claro;
    padding-bottom: 82px;

    h2 {
        padding-top: 44px;
        @include titulos;
        font-size: 20px;
        line-height: 30px;
    }

    .trending-text {
        @include textos-mobile;
        padding: 9px 100px;
    }
}   

.slider-prev {
    display: none;
}

.slider-next {
    display: none;
}

.trending-slider-contenedor{
    width: 100%;
    height: auto;
}

.trending-slider-box{
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    overflow: auto;
    &::-webkit-scrollbar{
        display: none;
    }
    
}

// hover sobre imagen en cada gif



.trending-slider {
    margin: 32px 22px 0 22px;
    max-width: 900px;
    width: 243px;
    height: 187px;
    position: relative;
    top:0;
    left: 0;

    img{
        width: 243px;
        height: 187px;
        transition: all 300ms ease-in-out;
        // object-fit: cover;   
    }
    .trenging_slider_img_hover{
        display: none;
    }
    &:hover{
        
        .trenging_slider_img_hover{
            
            display: unset;
            background-color: $purpura_2;
            position: absolute;
            top: 0;
            left: 0;
            width: 243px;
            height: 187px;
            .btn_trenging_slider_imgs_content{
                position: absolute;
                top: 10px;
                left: 54.4257%;
                .icon{
                    width: 22px;
                    height: 22px;
                }
                .btn_trenging_slider_box_img{
                    
                    margin: 0 11px 0 0;
                    border: none;
                    background-color: unset;
                    .icon_hiden{
                        display: none;
                    }
                    
                    &:hover{
                        .icon_favorito_hover,.icon_download_hover,.icon_max_hover{
                            display: unset;
                        }
                        .icon_favorito,.icon_download,.icon_max{
                            display: none;
                        }
                        cursor: pointer;
                    }
                    &:active{
                        .icon_favorito_activo{
                            display: unset;
                        }
                        .icon_favorito,.icon_favorito_hover{
                            display: none;
                        }
                    }
                }
                
            }
            .trenging_slider_img_user_title{
                position: absolute;
                top: 65.8181%;
                left: 5.0420%;
                h2{
                    text-align: start;
                    font-size: 15px;
                    color: white;
                    margin: 0;
                    padding: 0;
                    &:last-child{
                        font-size: 16px;
                    }
                }
                
            }

        }
    }
   
}


.gif-contenedor {
   
    width: 100%;
    height: 100%;
    margin: 0 20px;
    scroll-snap-align: center;
}

.gif-acciones {
    display: none;
}

.trending-gif {

    width: 243px;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 550px){

    .trending-slider-contenedor{
        display: flex;
        flex-flow: row wrap;
        justify-content:space-around;
        align-items: center;
    }
    .trending-slider-box{
        width: 80%;
        height: 100%;
        
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .trending-slider {
        width: 357px;
        height: 275px;
        
        img{
            width: 357px;
            height: 275px;
            
            
        }
    }
    .trending-slider:hover{
        .trenging_slider_img_hover{
    
            width: 357px;
            height: 275px;
            .btn_trenging_slider_imgs_content .icon{
                width: 32px;
                height: 32px;
            }
        }
    }
    

    

    // flechas para mover los gifs
    .slider-prev, .slider-next{
        display: unset;
        width: 40px;
        height: 40px;
        .prev-blanco, .next-blanco{
            display: none;
            width: 40px;
        }
    }

    .slider-prev:hover {
        background-color: $purpura;
        cursor: pointer;
        .prev-purpura {
            display: none;
        }
        .prev-blanco {
            display: unset;
        }
    }

    .slider-next:hover {
        background-color: $purpura;
        cursor: pointer;
        .next-purpura {
            display: none;
        }
        .next-blanco {
            display: block;
        }
    }

    
}

@media screen and (min-width: 1024px) {
    .trending-slider-contenedor {
        margin: 53px 0px 182px 0px;
    }
    
    .trending-slider {
        margin: 0 29px 0 0;
    }

    .gif-contenedor {
        margin: 0 15px;
        width: 243px;
        height: 187px;
    }

    .gif-contenedor:first-child {
        margin-left: 0;
    }

    .gif-acciones {
        position: absolute;
        z-index: 0;
        background-color: $purpura_2;
        width: 243px;
        height: 187px;
    }

    .iconos-acciones-gif {
        display: flex;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .iconos-acciones-box {
        width: 32px;
        height: 32px;
        background-color: $blanco_1;
        display: flex;
        justify-content: center;
        align-content: center;
        border-radius: 6px;
        border: none;
    }

    .favorito {
        cursor: pointer;
    }

    .download {
        margin-left: 10px;
        cursor: pointer;
    }

    .max {
        margin-left: 10px;
        cursor: pointer;
    }

    .iconos-acciones-box:hover {
        background-color: $blanco;
    }

    .textos-descripcion-gif {
        text-align: left;
        position: absolute;
        bottom: 20px;
        left: 10px;
    }

    .user-gif {
        @include textos-mobile;
        text-align: left;
        color: $blanco;
        font-size: 15px;
        line-height: 18px;
        font-weight: 300;
        padding: 0 10px 0 0;
        margin-bottom: 6px;
    }

    .titulo-gif {
        @include textos-mobile;
        text-align: left;
        color: $blanco;
        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
        padding: 0 10px 0 0;
        margin: 0;
    }

    .gif-contenedor:hover .gif-acciones {
        display: block;
    }
}

@media screen and (min-width: 1440px) {
   
    .trending {
        padding: 0;

        h2 {
            padding-top: 78px;
            font-size: 30px;
        }

        .trending-text {
            font-size: 18px;
            padding: 14px 0 0 0;
        }
    }

    .trending-slider-contenedor {
        margin: 53px 94px 0 94px;
        padding-bottom: 182px;
    }

    .trending-slider-box {
        margin: 0;
        width: 1133px;
    }

    .trending-slider {
        height: 275px;
    }

    .gif-contenedor {
        width: 357px;
        height: 275px;
    }

    .gif-acciones {
        width: 357px;
        height: 275px;
    }

    .textos-descripcion-gif {
        bottom: 51px;
        left: 18.5px;
    }

    .trending-gif {
       
        width: 357px;
    }
}