
.trending {
    margin: 79px 0 0 0;
    background-color: $gris-claro;
    padding-bottom: 82px;

    h2 {
        padding-top: 44px;
        @include titulos;
        font-size: 20px;
        line-height: 30px;
    }

    .trending-text {
        @include textos-mobile;
        padding: 9px 100px;
    }
}   

.slider-prev {
    display: none;
}

.slider-next {
    display: none;
}

.trending-slider-contenedor{
    width: 100%;
    height: auto;
}
.trending-slider-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overflow: auto;
   
}
.trending-slider {
    margin: 32px 22px 0 22px;
    max-width: 900px;
    width: 243px;
    height: 187px;
    
    img{
        width: 243px;
        height: 187px;
        object-fit: cover;
        
    }
}

.gif-contenedor {
   
    width: 100%;
    height: 100%;
    margin: 0 20px;
    scroll-snap-align: center;
}

.gif-acciones {
    display: none;
}

.trending-gif {

    width: 243px;
    height: 100%;
    object-fit: cover;
}

